body {
  background: var(--sapBackgroundColor);
  color: var(--sapTextColor);
  margin: 0;
  font-family: var(--sapFontFamily);
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
}

ui5-form-group ui5-form-item {
  column-span: all;
}

ui5-form-group ui5-form-item.date-range-item {
  column-span: none;
}

ui5-form-group ui5-form-item.calendar-form-item ui5-calendar {
  display: block;
  width: fit-content;
  margin-inline: auto;
}
